<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title === 'hola'">
este es un div condicional
</div>
<button (click)="addItem()">Agregar</button>
<ul>
  <li *ngIf="items.length===0">La lista esta vacia</li>
  <li *ngFor="let item of items;index as i">
    {{item}} {{i}}
    <button (click)="deleteItem(i)">eliminar</button>
  </li>
</ul>

<div *ngFor="let product of products">
  <h2>{{ product.title }}</h2>
  <img [src]="product.image" alt="">
  <p>Descripcion: {{ product.description }}</p>
  <h3>precio: ${{ product.price }}</h3>
</div>